* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	position: relative;
}

img.bg-image {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}

.candy-wrapper {
	max-width: 650px;
	height: 500px;
	background-color: rgba(6, 6, 6, 0.5);
	position: relative;
	left: 700px;
	top: 140px;
	border-radius: 30px;
	padding: 30px;
}

.candy-wrapper img {
	display: inline-block;
	width: 80px;
	height: 100px;
	border: 1px solid grey;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
a {
	position: absolute;
	width: 300px;
	height: 50px;
	background-color: rgb(0, 251, 63);
	right: 350px;
	top: 660px;
	text-decoration: none;
	font-family: cursive;
	font-size: 1.5rem;
	color: #000;
	border-radius: 15px;
	text-align: center;
	padding: 10px 20px;
}
